<%= flash[:message] %>
<h1> Log In </h1>
<%= form_for(:user, url: '/login') do |f| %>
    <fieldset><br>
        <%= f.label :email %><br>
        <%= f.text_field :email %><br><br>
    
        <%= f.label :password %><br>
        <%= f.password_field :password %><br><br>
    </fieldset><br>
    <%= f.submit "Login" %><br>
<% end %>