|| <%= link_to "Welcome Page", root_path %> ||

<h1> Log In </h1>
<%= flash[:error] %><br>
<%= form_for(:user, url: '/login') do |f| %>
    <fieldset><br>
        <%= f.label :email %><br>
        <%= f.text_field :email %><br><br>
    
        <%= f.label :password %><br>
        <%= f.password_field :password %><br><br>
    <%= f.submit "Log In" %>
    </fieldset><br>
<% end %>

OR 
<br><br><%= button_to "Log In With Google", '/auth/google_oauth2' %>