<h1><%= @requirement.description %></h1>

<%= link_to "Edit Requirement", edit_requirement_path(@requirement) %><br>
<%= link_to "Delete Requirement", requirement_path( @requirement), method: :delete, data: { confirm: "Are you sure you want to delete this requirement?"}%><br>


<p><%= "Notes: #{@requirement.notes}" %></p>

<% @requirement.deadlines.each do |d| %>
    <% if d.deadline %>
    <%= "Deadline:#{d.deadline.strftime("%A, %d %b %Y %l:%M %p")}" %><br>
   <% end %>
<% end%>