<h1><%= header %></h1>
<h2> Requirement Details </h2>
<h3> Description:<%= @requirement.description %></h3>

<h4> Priority:<%= @requirement.priority %></h4>

<% @requirement.deadlines.each do |deadline| %>
    <% if deadline.deadline %>
    
    <h4>Requirement Deadline:<%= deadline.time %></h4>
   <% end %>
<% end %>

<h4><p> Notes: <%= @requirement.notes %></p></h4>
<% if !@project.nil? %>
    <%= link_to "Edit Requirement", edit_project_requirement_path(@project,@requirement) %><br><br>
<% else %>
    <%= link_to "Edit Requirement", edit_requirement_path(@requirement) %><br><br>
<% end %>
<%= link_to "Delete Requirement", requirement_path( @requirement), method: :delete, data: { confirm: "Are you sure you want to delete this requirement?"}%><br>