<!DOCTYPE html>
<html>
  <head>
    <title>ProjectFramework</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <div>
    <% if current_user %>
      <%= link_to "Log Out", logout_path, method: :delete%><br>
      <%= link_to "Your Projects", user_projects_path(current_user)%><br>
      <%= link_to "Add A New Project", new_user_project_path(current_user) %><br><br>
    <% end %>
  </div>

  <body>
    <%= yield %>
    
  </body>
</html>
