<!DOCTYPE html>
<html>
  <head>
    <title>Project Blueprint</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script src="https://unpkg.com/ionicons@4.5.10-0/dist/ionicons.js"></script>
    <style>
      @import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@1,300&display=swap');
    </style>

  </head>
  <body>
    <% if current_user %>
      <nav class="navbar">
          <div class="container-fluid">
            <div class="main-nav">
              <ul>
                  <li><a href="#"><%= link_to "Log Out", logout_path, method: :delete%></a></li>
                  <li><a href="#"><%= link_to "Your Projects", projects_path %></a></li>
                  <li><a href="#"><%= link_to "Add A New Project", new_project_path %></a></li> 
              </ul>
            </div>
          </div>
      </nav>
    <% end %>

    <%= yield %>
  </body>
</html>
